<!DOCTYPE html>
<html lang="en">
<head>
	<title>Authentication with Node</title>
	<% include partials/head %>
</head>
<body class="home_bg">

	<div class="container">
		<!-- <div class="row">
			<div class="col-sm-6 mt-3">
				<div class="card text-center mt-5">
					<div class="card-body">
						<h1><span class="fa fa-block"></span>Grupo 2</h1>
						<h1><span class="fa fa-block"></span>Infraestructura en la Nube</h1>
						<a href="/login" class="btn btn-primary btn-lg">
							<span class="fa fa-user"></span> Login
						</a>
						<a href="/signup" class="btn btn-success btn-lg">
							<span class="fa fa-user"></span> Signup
						</a>
					</div>
				</div>
			</div>
		</div> -->
		<br>
		<br>
		<br>
		<div class="card text-center mt-5">
			<div class="card-body">
				<h1><span class="fa fa-block"></span>Grupo 2</h1>
				<h1><span class="fa fa-block"></span>Infraestructura en la Nube</h1>
				<!-- <p>Login or Register</p> -->


				<div class="card">
					<div class="card-body">
						<a href="/login" class="btn btn-primary btn-lg">
							<span class="fa fa-user"></span> Login
						</a>
						<a href="/signup" class="btn btn-success btn-lg">
							<span class="fa fa-user"></span> Signup
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
